* {
  box-sizing: border-box;
}

body {
  margin-top: 1rem;
  font-family: system-ui;
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 3rem;
  animation: Title 2s ease 0s 1 normal forwards;
}

@keyframes Title {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

a:hover {
  color: black;
}

.hex-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr 2fr) 1fr;
  grid-auto-rows: 10vw;
  gap: 20px;
}

.hex {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: grid;
  place-items: center;
  background-color: black;
  transition: rotate 0.3s, translate 0.3s;
}

.hex:active {
  translate: 1px 1px;
}

.hex:nth-child(1) {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  animation: Left 2s ease 0s 1 normal forwards;
}

@keyframes Left {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(-68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

.hex:nth-child(1):hover {
  background-color: yellow;
  rotate: 60deg;
}

.hex:nth-child(2) {
  grid-column: 3 / span 3;
  grid-row: 2 / span 2;
  animation: Bottom 2s ease 0s 1 normal forwards;
}

.hex:nth-child(2):hover {
  background-color: pink;
  rotate: -60deg;
}

.hex:nth-child(3) {
  grid-column: 5 / span 3;
  grid-row: 1 / span 2;
}

.hex:nth-child(3):hover {
  background-color: lime;
  rotate: 60deg;
}

.hex:nth-child(4) {
  grid-column: 7 / span 3;
  grid-row: 2 / span 2;
  animation: Bottom 2s ease 0s 1 normal forwards;
}

@keyframes Bottom {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

.hex:nth-child(4):hover {
  background-color: lightskyblue;
  rotate: -60deg;
}

.hex:nth-child(5) {
  grid-column: 9 / span 3;
  grid-row: 1 / span 2;
  animation: Right 2s ease 0s 1 normal forwards;
}

@keyframes Right {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

.hex:nth-child(5):hover {
  background-color: plum;
  rotate: 60deg;
}

@media (width <=768px) {
  h1 {
    font-size: 3rem;
  }

  a {
    font-size: 1rem;
  }

  .hex-grid {
    grid-template-columns: repeat(auto-fill, 1fr 2fr) 1fr;
    justify-content: center;
  }

  .hex:nth-child(1) {
    grid-column: 5 / span 3;
    grid-row: 1 / span 2;
  }

  .hex:nth-child(2) {
    grid-column: 5 / span 3;
    grid-row: 3 / span 2;
  }

  .hex:nth-child(3) {
    grid-column: 5 / span 3;
    grid-row: 5 / span 2;
  }

  .hex:nth-child(4) {
    grid-column: 5 / span 3;
    grid-row: 7 / span 2;
  }

  .hex:nth-child(5) {
    grid-column: 5 / span 3;
    grid-row: 9 / span 2;
  }
}
